/* THIS COMPONENT IS STILL UNDER DEVELOPMENT - NOT FOR PRODUCTIONS */

/* Typography --------------- */

/* Set Type */

/* Dynamic Layout --------------- */

.fixed_width #page, .fixed_width #footer, .canvas #page-canvas{width:980px}
#page-main .content{width:962px}
#site{min-width:962px}
#site .content, .wcontent, #primary-nav ul.main-nav.nosearch{width:960px}
#primary-nav ul.main-nav{width:740px}

.fullwidth #epanel_content #column-main, .fullwidth .wmain, .fullwidth #buddypress-page #container{width:960px}
.fullwidth #epanel_content #sidebar1, .fullwidth #buddypress-page #sidebar1{width:0px}
.fullwidth #epanel_content #sidebar2, .fullwidth #buddypress-page #sidebar2{width:0px}
.fullwidth #epanel_content #column-wrap, .fullwidth #buddypress-page #container{width:960px}
.fullwidth #epanel_content #sidebar-wrap, .fullwidth #buddypress-page #sidebar-wrap{width:0px}

.one-sidebar-right #epanel_content #column-main, .one-sidebar-right .wmain, .one-sidebar-right #buddypress-page #container{width:640px}
.one-sidebar-right #epanel_content #sidebar1, .one-sidebar-right #buddypress-page #sidebar1{width:320px}
.one-sidebar-right #epanel_content #sidebar2, .one-sidebar-right #buddypress-page #sidebar2{width:0px}
.one-sidebar-right #epanel_content #column-wrap, .one-sidebar-right #buddypress-page #container{width:640px}
.one-sidebar-right #epanel_content #sidebar-wrap, .one-sidebar-right #buddypress-page #sidebar-wrap{width:320px}

.one-sidebar-left #epanel_content #column-main, .one-sidebar-left .wmain, .one-sidebar-left #buddypress-page #container{width:640px}
.one-sidebar-left #epanel_content #sidebar1, .one-sidebar-left #buddypress-page #sidebar1{width:320px}
.one-sidebar-left #epanel_content #sidebar2, .one-sidebar-left #buddypress-page #sidebar2{width:0px}
.one-sidebar-left #epanel_content #column-wrap, .one-sidebar-left #buddypress-page #container{width:640px}
.one-sidebar-left #epanel_content #sidebar-wrap, .one-sidebar-left #buddypress-page #sidebar-wrap{width:320px}

.two-sidebar-right #epanel_content #column-main, .two-sidebar-right .wmain, .two-sidebar-right #buddypress-page #container{width:480px}
.two-sidebar-right #epanel_content #sidebar1, .two-sidebar-right #buddypress-page #sidebar1{width:240px}
.two-sidebar-right #epanel_content #sidebar2, .two-sidebar-right #buddypress-page #sidebar2{width:240px}
.two-sidebar-right #epanel_content #column-wrap, .two-sidebar-right #buddypress-page #container{width:480px}
.two-sidebar-right #epanel_content #sidebar-wrap, .two-sidebar-right #buddypress-page #sidebar-wrap{width:480px}

.two-sidebar-left #epanel_content #column-main, .two-sidebar-left .wmain, .two-sidebar-left #buddypress-page #container{width:480px}
.two-sidebar-left #epanel_content #sidebar1, .two-sidebar-left #buddypress-page #sidebar1{width:240px}
.two-sidebar-left #epanel_content #sidebar2, .two-sidebar-left #buddypress-page #sidebar2{width:240px}
.two-sidebar-left #epanel_content #column-wrap, .two-sidebar-left #buddypress-page #container{width:480px}
.two-sidebar-left #epanel_content #sidebar-wrap, .two-sidebar-left #buddypress-page #sidebar-wrap{width:480px}

.two-sidebar-center #epanel_content #column-main, .two-sidebar-center .wmain, .two-sidebar-center #buddypress-page #container{width:480px}
.two-sidebar-center #epanel_content #sidebar1, .two-sidebar-center #buddypress-page #sidebar1{width:240px}
.two-sidebar-center #epanel_content #sidebar2, .two-sidebar-center #buddypress-page #sidebar2{width:240px}
.two-sidebar-center #epanel_content #column-wrap, .two-sidebar-center #buddypress-page #container{width:720px}
.two-sidebar-center #epanel_content #sidebar-wrap, .two-sidebar-center #buddypress-page #sidebar-wrap{width:240px}

/* Dynamic Grid --------------- */

.dcol_container_2{width: 980px; float: right;}
.dcol_2{width: 470px; margin-left: 20px;}

.dcol_container_3{width: 980px; float: right;}
.dcol_3{width: 306px; margin-left: 20px;}

.dcol_container_4{width: 980px; float: right;}
.dcol_4{width: 225px; margin-left: 20px;}

.dcol_container_5{width: 980px; float: right;}
.dcol_5{width: 176px; margin-left: 20px;}

/* Options --------------- */

body, body.fixed_width{background-color:#000000;}
{color:#000000;}
{color:#727171;}
{color:#AEAEAE;}
{color:#A7193B2;}
{color:#717171;}


/* Custom CSS */





/* Dynamic css builder AJAX -- Still under dev remote folder */